.sub_title {
    background: url('../images/bg2.png') no-repeat center 40%;
    background-size: cover;
}

article {
    padding: 40px 0;
}

article:nth-child(2n) {
    background: #F2EDD7;
}

.markup_posts {
    display: grid;
    grid-template-columns: minmax(364px, 1fr) minmax(364px, 1fr);
    /*30.2085vw 30.2085vw*/
    grid-template-rows: 300px;
    gap: 40px;
}

.markup_post {
    background: #f1f0eb;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    height: 300px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    transition: all ease;
}
.markup_post > a{
    display: block;
    width: 100%;
    max-height: 100%;
}
.markup_post .sub_portfolio{
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center -120px;
}
.markup_post .sub_page{
    display: block;
    min-width: 400px;
    width: 36%;
    object-fit: cover;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, .35);
}
.post_one {
    min-width: 768px;
}

.text_hold {
    position: absolute;
    bottom: -60px;
    width: 100%;
    height: 60px;
    padding: 0 24px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, .45);
    border-radius: 0 0 12px 12px;
    transition: all ease .4s;
}

.markup_post:hover>a>.text_hold {
    bottom: 0;
}

.markup_post .text_hold p:first-of-type {
    font-weight: 500;
}

#mobileView {
    display: none;
}

@media screen and (max-width: 767px) {
    .container {
        width: 92vw;
        min-width: 300px;
    }
    article{
        padding: 0;
    }
    .text_hold {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 12px;
        color: #fff;
        background: rgba(0, 0, 0, .65);
        border-radius: 12px;
        transition: all ease .4s;
        text-align: center;
        left: -100%;
        top: 0;
    }
    .active .text_hold {
        left: 0;
    }
    .text_hold, .text_hold a {
        text-decoration: none;
        color: #fafafa;
    }
    .text_hold p {
        line-height: 22px;
    }
    .text_hold .text_sm {
        color: #ccc;
    }
    .m_text_close {
        position: absolute;
        top: 12px;
        right: calc(100% + 12px);
        transition: all ease .4s;
    }
    .active .m_text_close {
        position: absolute;
        top: 12px;
        right: 12px;
    }
    
    #pcView {
        display: none;
    }

    #mobileView {
        display: block;
    }
    
    
    .m_markup_posts {
        display: grid;
        grid-template-columns: repeat(3, minmax(28vw, 1fr));
        /*30.2085vw 30.2085vw*/
        grid-template-rows: repeat(2, minmax(28vw, 1fr));
        grid-gap: 4vw;
        transition: all ease .8s;
    }
    .m_markup_post {
        position: relative;
        border-radius: 12px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
        overflow: hidden;
    }
    
    .m_markup_post_img img{
        width: 80%;
        height: 80%;
    }
    .m_markup_post:nth-child(1){background-color: #ffffff;}
    .m_markup_post:nth-child(2){background-color: #ffffff;}
    .m_markup_post:nth-child(3){background-color: #e30613;}
    .m_markup_post:nth-child(4){background-color: #e6241a;}
}

@media screen and (max-width: 570px) {
    .m_markup_posts {
        grid-template-columns: repeat(2, minmax(42vw, 1fr));
        /*30.2085vw 30.2085vw*/
        grid-template-rows: repeat(2, minmax(42vw, 1fr));
        grid-gap: 8vw;
    }
}