
.icon-ps:before { content: '\e800'; } /* '' */
.icon-ae:before { content: '\e801'; } /* '' */
.icon-ai:before { content: '\e802'; } /* '' */
.icon-b:before { content: '\e803'; } /* '' */
.icon-css:before { content: '\e804'; } /* '' */
.icon-html:before { content: '\e805'; } /* '' */
.icon-itq:before { content: '\e806'; } /* '' */
.icon-js:before { content: '\e807'; } /* '' */
.icon-php:before { content: '\e808'; } /* '' */
.icon-pr:before { content: '\e809'; } /* '' */
